.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    
}
.header{
    display:flex;
    background-color:brown;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
.header li{
   display:inline-block;
   padding: 10px;
   font-size: 20px;
}
*{
    margin: 0px;
}
.footer{
    background-color: brown;
    color: white;
    padding: 5px;
    
}