<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add User Form</h2>
    <form action="/users/add" method="POST">
       <P> <input type="text" name="name" placeholder="User Name"></P>
        <P><input type="email" name="email" placeholder="User Email"></P>
        <P><input type="password" name="password" placeholder="User Password"></P>
        <p><input type="text" name="role" placeholder="User Role"></p>
        
        <button type="submit">Submit</button>
</body>
</html>